.login-container {
  min-height: 85vh;
  margin-top: 100px;
}
.text-color {
  color: #007aff;
}
.auth-btn-color {
  background-color: #007aff;
}
.form-details {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
