.active-link {
  text-decoration: none;
  font-size: 24px;
  margin-left: 24px;
  transition: color ease-in-out 300ms;
  color: #007aff;
  font-weight: 400;
}
.navbar-color a:hover {
  color: #06113c;
}

.link {
  color: #06113c;
  text-decoration: none;
  font-size: 24px;
  margin-left: 24px;
  transition: color ease-in-out 300ms;
}
.link:hover {
  color: #007aff;
}
.header-title {
  color: #007aff !important;
}
